.app {
    width:  100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
}
.container {
    height: 450px;
    width: 450px;
    

    border: 1px black solid;
    background: lightgrey;
}
.add{
    display: flex;
    flex-direction: row;

    justify-content: center;
    padding-top: 25px;

    
    background:  rgb(196, 191, 183);

}
.add > label {
    margin-right: 10px;

    font-size: 20px;
    font-weight: bold;
}
.add > button {
    margin-left: 25px;

    border-radius: 25px;
}
.header {
    display: flex;


    background: rgb(243, 243, 243);
    justify-content: center;
    border: 1px solid black;
}
.list {
    display: flex;
    flex-direction: column;

    margin-left: 5px;
}
.listBody {
    display: flex;
    justify-content: space-between;

}